<div class="wrapper">
  <section class="single">
<!--     <a href="/recipes" class="back">&#60;</a> -->
    <img src="/images/cashalfredo.jpeg" alt="cashew alfredo">
    <div class="details">
      <h2>Cashew Alfredo - serves two</h2>
      <ul>
        <li>1/2 raw cashews
        <li>1/2-3/4c starchy pasta water reserves
        <li>1tsp fresh lemon juice
        <li>1-3 cloves fresh garlic
        <li>1tb olive oil
        <li>1tsp herbs of choice
      </ul>
      <ol>
        <li>Soak cashews in water for at least 24h in the fridge (the softer the cashews, creamier the sauce). 
        <li>Get your pasta going in generously salted water, once done, reserve your pasta water, set aside. 
        <li>Drain cashews and place in a blender along with lemon juice, garlic, hot pasta water, olive oil, and herbs of choice (I used kirkland organic no-salt seasoning), blend for a minute or two to emulsify. 
        <li>Pour atop your pasta, garnish if you're feeling fancy, and serve it up!
      </ol>
    </div>
  </section>
</div>