<div class="wrapper">
  <section class="single">
<!--     <a href="/shop" class="back">&#60;</a> -->
    <img src="/images/thehare-full.jpg" alt="the hare">
    <div class="details">
      <h2>The Hare Print 3/15 - $40</h2>
      <p>
      18 x 26 inch signed giclée print of the original gouache painting. 
      Matted, sleeved, and carefully packaged for its journey. Meow.
      </p>
      <a href="#" class="button">Buy Me!</a>
    </div>
  </section>
</div>