<div class="wrapper">
  <section class="recipes">
    <a href="/cashew-alfredo" class="item"><img alt="Radis et beurre" src="/images/radis-sample.jpeg">Radis et beurre</a>
    <a href="/cashew-alfredo" class="item"><img alt="Seitan Gyros" src="/images/gyros-sample.jpeg">Seitan Gyros</a>
    <a href="/cashew-alfredo" class="item"><img alt="Cashew Alfredo" src="/images/cashalfredo-sample.jpeg">Cashew Alfredo</a>
    <a href="/cashew-alfredo" class="item"><img alt="Banana Waffles" src="/images/waffles-sample.jpeg">Banana Waffles</a>
    <a href="/cashew-alfredo" class="item"><img alt="Bean Burgers" src="/images/beanburger-sample.jpeg">Bean Burgers</a>
  </section>
</div>