<div class="wrapper">
  <section class="shop">
    <a href="#" class="item"><img alt="cork earrings" src="/images/corks-sample.png">"Corky" Crafts</a>
    <a href="#" class="item"><img alt="cork earrings" src="/images/lady-sample.png">Mini Art</a>
    <a href="#" class="item"><img alt="cork earrings" src="/images/corks-sample.png">Paper Dolls</a>
    <a href="#" class="item"><img alt="cork earrings" src="/images/coloured-sample.png">Painted Print</a>
    <a href="#" class="item"><img alt="cork earrings" src="/images/thehare-sample.jpeg">Prints</a>
  </section>
</div>