<div class="wrapper">
  <section class="single">
<!--     <a href="/shop" class="back">&#60;</a> -->
    <img src="<%= @contents["image"] %>" alt="<%= @contents["title"] %>">
    <div class="details">
      <h2><%= @contents["title"] %></h2>
      <p>
        <%= @contents["description"] %>
      </p>
      <a href="#" class="button">Buy Me!</a>
    </div>
  </section>
</div>