<div class="wrapper">
  <section class="shop">
    <% @shop_items.each do |shop_item| %>
      <a href="/shop/<%= shop_item[:path] %>">
        <img alt="<%= shop_item[:title] %>" src="<%= shop_item[:image] %>">
        <%= shop_item[:title] %>
      </a>
    <% end %>
  </section>
</div>