/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  text-align: left;
  text-decoration: none;
  vertical-align: top;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*///////////////////////////////////////*/

@font-face {
    font-family: 'AmaticSCRegular';
    src: url('/fonts/amaticsc-regular-webfont.eot');
    src: url('/fonts/amaticsc-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/amaticsc-regular-webfont.woff') format('woff'),
         url('/fonts/amaticsc-regular-webfont.ttf') format('truetype'),
         url('/fonts/amaticsc-regular-webfont.svg#AmaticSCBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PrestigeEliteStdBold';
    src: url('/fonts/prestigeelitestd-bd-webfont.eot');
    src: url('/fonts/prestigeelitestd-bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/prestigeelitestd-bd-webfont.woff') format('woff'),
         url('/fonts/prestigeelitestd-bd-webfont.ttf') format('truetype'),
         url('/fonts/prestigeelitestd-bd-webfont.svg#PrestigeEliteStdBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*///////////////////////////////////////*/

body {
  font-family: PrestigeEliteStdBold;
  font-size: 14px;
  line-height: 24px;
  margin-top: 74px;
}
header,
h1,h2,h3,
h4,h5,h6,
nav {
  font-family: AmaticSCRegular;
  font-size: 26px;
  font-weight: normal;
}
h1, nav {
  text-align: center; 
  text-transform: uppercase; 
}
h1 {
  font-size: 36px;
/*   margin-top: 74px; */
/*   text-shadow: 1px 0 0 black;  */
}
h1 a {
  color: inherit;
}
nav {
  font-size: 24px;
  height: 104px;
  margin-bottom: 70px;
}
.wrapper {
  margin: 0 auto;
  max-width: 716px;
}
nav div {
  float: left;
  height: 100%;
  position: relative;
  text-align: center; 
}
nav div.current_page {
  background-position-y: 105px;
}
.n1 {
  background-image: url(/images/banner-sprite.png);
  width: 233px;
}
.n2 {
  background-image: url(/images/banner-sprite.png);
  background-position-x: -233px;
  padding-top: 55px;
  width: 257px;
}
.n3 {
  background-image: url(/images/banner-sprite.png);
  background-position-x: -490px;
  width: 221px;
}
.n1 a,
.n2 a,
.n3 a {
  color: black;
  padding: 5px;
}
.n1 a,
.n3 a {
  position: absolute;
}
.n1 a {
  left: 94px;
  top: 16px;
  -webkit-transform: rotate(15deg);
     -moz-transform: rotate(15deg);
          transform: rotate(15deg);
}
.n3 a {
  right: 94px;
  top: 18px;
  -webkit-transform: rotate(-15deg);
     -moz-transform: rotate(-15deg);
          transform: rotate(-15deg);  
}
h1 a:hover,
.n1 a:hover,
.n2 a:hover,
.n3 a:hover {
  font-weight: bold;
}
.n1 a:hover {
  top: 14px;  
}
.n2 a:hover {
  top: -5px; 
}
.n3 a:hover {
  right: 92px;
  top: 16px;
}
/*
.n3 a:hover {
  position: relative;
  background-image: url(public/images/hover-1.png);
  height: 14px;
  width: 12px;
} 
*/ 
.blog {
/*   margin-top: 70px; */
}
.post {
  margin-bottom: 20px;
}
.post a {
  color: black;
}
.post .link {
  text-decoration: underline;
}
.post p,
.post ul,
.post ol,
.single .details p,
.single .details ul,
.single .details2 ol {
  font-family: PrestigeEliteStdBold;
  font-size: 12px;
  margin-top: 16px;
}
.single .details p {
  padding-bottom: 20px;
}
.single .details2 ol {
  border-top: 1px dashed #999;
  line-height: 20px;
  margin-bottom: 40px;
  padding: 16px 0 0 14px;
}
.single .details2 ol li {
  margin-bottom: 14px;
}
.single .details ul {
/*   padding-bottom: 14px; */
}
.single .details2 ol {
  list-style: circle;
  margin-left: 16px;
}
.shop a,
.recipes a {
  color: black;
  display: inline-block;
  font-size: 24px;
  margin: 0 15px 15px;
  width: 110px;
}
.shop a:hover,
.blog .post a:hover,
.recipes a:hover,
.button:hover,
.single .back:hover {
  text-shadow: 0 -1px 0 #777;
}
.shop a img,
.recipes a img {
  box-shadow: 0px 1px 2px 0px #666;
  margin-bottom: 8px; 
}
.single {
  position: relative;
  margin-top: 50px;
}
.single .back {
  color: black;
  font-size: 22px;
  left: 10px;
  padding: 5px;
  position: absolute;
  top: -50px;
  text-transform: uppercase;
}
.single img {
  margin: 0 18px 8px 14px;
  width: 360px;
}
.single .details {
  display: inline-block;
  max-width: 318px;
}
.button {
  position: relative;
  color: black;
  font-size: 22px;
  margin-left: 260px;
  padding: 4px;
  text-transform: uppercase;
}
.button:after {
  background-image: url(/images/hover-1.png);
  content:"";
  height: 14px;
  left: -8px;
  position: absolute;
  top: -4px;
  width: 12px;
}
.home img {
  width: 664px;
  margin: 0 auto;
}