<div class="wrapper">
  <section class="blog">
    <div class="post">
      <h2><%= "#{@blog_post["title"]} &ndash; #{@blog_post["date"]}" %></h2>
      <p><%= @blog_post["content"] %></p>
    </div>
  </section>
</div>